body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.contener {
  margin: 0 auto;
  padding: 0 20px;
  width: 1446px;
  height: 5791px;
  flex-shrink: 0;
  justify-content: space-between;
  text-align: center;
}

.header {
  margin-top: 50px;
  display: flex;
}

.header-logo {
  margin-left: 100px;
}

.header-list {
  display: flex;
  list-style: none;
  margin-left: 249px;
}

.header-item {
  margin-left: 60px;
}

.header-link {
  text-decoration: none;
  color: #3d3d3f;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.header-link:active {
  color: red;
}

.header-button {
  margin-left: 249px;
}

.header-button {
  display: flex;
  width: 118px;
  padding: 12px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 5px;
  opacity: 0.85;
  background: var(
    --Gd-color,
    linear-gradient(3deg, #f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%)
  );
}

.header-button-link {
  text-decoration: none;
  color: #fff;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 3px;
}
.main {
  margin-top: 50px;
}

.wrapper {
  display: flex;
  border: 1px solid blue;
}

/* .wrapper-right {
} */

.wrapper-right-head {
  color: var(--Primary, #3d3d3f);
  font-family: Rubik;
  font-size: 72px;
  font-style: normal;
  font-weightd: 500;
  line-height: normal;
}

.wrapper-right-text {
  color: var(--Primary, #3d3d3f);
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper-right-button {
  width: 219px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 5px;
  opacity: 0.85;
  background: var(
    --Gd-color,
    linear-gradient(3deg, #f35f2f -13.68%, rgba(243, 95, 47, 0.75) 121.16%)
  );
}

.wrapper-right-button-link {
  text-decoration: none;
  color: #fff;
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wrapper-left {
  width: 626px;
  height: 418px;
  flex-shrink: 0;
  background: url("../images/s1.png"), lightgray 50% / cover no-repeat;
  margin-left: 350px;
}

.wrapper-main {
  margin-top: 60px;
}

.wrapper-main-item {
  border: 1px solid blue;
  width: 356px;
  height: 302px;
  flex-shrink: 0;
  border-radius: 23px;
  background: #fff;
  box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
  margin-left: 51px;
}

.wrrapper-main-item-list {
  width: 102px;
  height: 102px;
  flex-shrink: 0;
  border-radius: 555px;
  background: #fff;
  box-shadow: 0px 4px 22px 0px rgba(95, 95, 95, 0.05);
  margin-left: 180px;
  border: 1px solid black;
  text-align: center;
  margin-top: -60px;
}

.wrapper-main-img {
  margin-top: 25px;
}

.wrapper-main-list {
  list-style: none;
  display: flex;
  margin-top: 161px;
}

.wrapper-main-head {
  color: var(--Primary, #3d3d3f);
  font-family: DM Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
